@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F4F4F4;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: #f4f4f4;
  font-family: Arial, Helvetica, sans-serif;
  display:grid;
  grid-template-areas: "header header header"
                     "side main main"
                      "side main main";
  grid-template-columns: 0.5fr 2fr 2fr;
}

header{
  grid-area:header;
}

aside{
  grid-area:side;
}

main{
  grid-area:main;
}
